<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="/static/style/Activity.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css" href="/style/Activity.css">
</head>
<body>
<h1>Aktiviteter Admin</h1>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


<div class="row">
  <div class="col-md-3 Info-box">
    <h2>Go-Kart:</h2>
    <h3>Føren skal være over 160 og være fyldt 16</h3>
    <h2>Paintball:</h2>
    <h3>Deltager skal være 18 år eller over</h3>
    <h2>Sumo-wrestling:</h2>
    <h3>Minimum 2 deltager</h3>
    <h2>MiniGolf:</h2>
    <h3>Minimum 2 deltager</h3>
  </div>

  <div class="col-md-6 overview-btn">
    <button>Gruppe event</button>
    <button>Go-Kart</button>
    <button>Paintball</button>
    <button>Sumo-wrestling</button>
    <button>MiniGolf</button>

  </div>


  <div class="col-2 edit-btn">
    <button>Rediger</button>
    <button>Rediger</button>
    <button>Rediger</button>
    <button>Rediger</button>
    <button>Rediger</button>
  </div>
</div>


</body>
</html>