<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!--<link href="/stylesheets/Booking.css" rel="stylesheet" type="text/css">-->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>

<div class="book-activity d-grid col-6 mx-auto" style="width: 500px";>
  <div class="h2 text-center">
    Gruppebooking aktivitet

  </div>
  <!--<form action="saveBooking" th:action="@{/saveBooking}" th:object="${greeting}" method="post">-->
  <form action="saveGroupBooking" th:action="@{/saveGroupBooking}" th:object="${booking}" method="post">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" name="paintball" style="margin-right:25px;" aria-label="Checkbox for following text input">
          <div class="padding-left margin-left-3">
            Paintball
          </div>
        </div>
        <div class="input-group-text">
          <input type="checkbox" name="goCart" style="margin-right:25px;" aria-label="Checkbox for following text input">
          <div class="padding-left">
            Go-Kart
          </div>
        </div>
        <div class="input-group-text">
          <input type="checkbox" name="sumoWrestling" style="margin-right:25px;" aria-label="Checkbox for following text input">
          <div class="padding-left margin-left-3">
            Sumobrydning
          </div>
        </div>
        <div class="input-group-text">
          <input type="checkbox" name="minigolf" style="margin-right:25px;" aria-label="Checkbox for following text input">
          <div class="padding-left margin-left-3">
            Minigolf
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label font-weight-bold">Navn:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="surname" class="form-label">Efternavn:</label>
      <input type="text" class="form-control" id="surname" name="surname">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Dato:</label>
      <input type="date" class="form-control" id="date" name="date">
    </div>
    <div class="mb-3">
      <label for="starttime" class="form-label">Starttid:</label>
      <input type="time" class="form-control" id="starttime" name="startTime">
    </div>
    <div class="mb-3">
      <label for="endtime" class="form-label">Sluttid:</label>
      <input type="time" class="form-control" id="endtime" name="endTime">
    </div>
    <div class="mb-3">
      <label for="numberofpeople" class="form-label">Antal personer:</label>
      <select class="form-select" id="numberofpeople" name="numberOfPeople" aria-label="Default select example">
        <option selected>Antal personer</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      </select>
    </div>
    <div class="text-center d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">Book</button>
    </div>
  </form>
</div>

</body>
</html>